@font-face {
    font-family: opensans-regular;
    src: url("../fonts/OpenSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: opensans-bold;
    src: url("../fonts/OpenSans-Bold.woff");
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-image: url("../images/banner-bg.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 0;
}

@media (min-width: 1200px) {
    .header {
        padding: 28px 15px 125px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .header {
        padding: 28px 35px 125px;
    }
}

@media (max-width: 640px) {
    .header {
        padding: 28px 15px 125px;
    }
}

.header::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.container-logo-menu {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 1170px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 640px) {
    .container-logo-menu {
        flex-direction: column-reverse;
        justify-content: flex-start;
        align-items: flex-end;
    }

    .link-logo {
        align-self: center;
        width: 270px;
        padding-top: 170px;
    }

    .main-menu {
        display: none;
    }

    .title {
        font-size: 26px;
        line-height: 1.4;
        padding-top: 40px;
    }

    .title-trends {
        font-size: 16px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .container-logo-menu {
        justify-content: space-between;
    }

    .link-logo {
        width: 160px;
    }

    .main-menu {
        display: none;
    }

    .title {
        font-size: 40px;
        line-height: 1.4;
        padding-top: 100px;
    }

    .title-trends {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .container-logo-menu {
        justify-content: space-between;
    }

    .link-logo {
        width: 180px;
    }

    .main-menu-button {
        display: none;
    }

    .title {
        font-size: 45px;
        line-height: 1.7;
        padding-top: 100px;
    }

    title-trends {
        font-size: 20px;
    }
}

.main-menu-button {
    width: 25px;
    height: 20px;
    position: relative;
    z-index: 2;
    cursor: pointer;
}

.main-menu-button span {
    width: 25px;
    height: 2px;
    position: absolute;
    top: 50%;
    background-color: #ffffff;
}

.main-menu-button span:nth-of-type(2) {
    top: calc(50% - 8px);
}

.main-menu-button span:nth-of-type(3) {
    top: calc(50% + 8px);
}

.menu-link {
    font-family: opensans-regular;
    font-size: 13px;
    color: #999999;
    text-transform: uppercase;
}

.menu-list,
.trend-category,
.category,
.latest-post-tags,
.categories-list-item,
.socials-list {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.menu-list-item:nth-child(n + 2) {
    margin-left: 35px;
}

a {
    text-decoration: none;
}

.menu-link:link {
    color: #ffffff;
}

.menu-link:hover {
    border-bottom: 1px solid #ffffff;
}

.title {
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
    max-width: 690px;
    text-align: center;
    font-family: opensans-bold;
    color: #ffffff;
    text-transform: uppercase;
}

.trends {
    width: 100%;
}

.title-trends {
    text-align: center;
    font-family: opensans-bold;
    color: #0f0d0e;
    text-transform: uppercase;
    margin-top: 65px;
    margin-bottom: 40px;
    padding: 0 15px;
    position: relative;
}

.title-trends::after {
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background: #b59f5b;
    bottom: -10px;
    width: 65px;
    height: 3px;
}

.trend-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.trend {
    display: flex;
    align-items: flex-end;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-color: #eff6f1;
    position: relative;
    z-index: 0;
    margin-top: 5px;
}

@media (max-width: 640px) {
    .trend {
        width: 100%;
    }
}

@media (max-width: 640px) and (orientation: landscape) {
    .trend {
        width: 49.75%;
    }
}

@media (min-width: 641px) {
    .trend {
        width: 24.75%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: portrait) {
    .trend {
        width: 49.75%;
    }
}

.trend::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.trend-first {
    background-image: url("../images/trend1.jpg");
}

.trend-second {
    background-image: url("../images/trend2.jpg");
}

.trend-third {
    background-image: url("../images/trend3.jpg");
}

.trend-fourth {
    background-image: url("../images/trend4.jpg");
}
.trend-content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    flex-grow: 1;
    border: 3px solid #b59f5b;
    margin: 135px 15px 20px;
}
@media (max-width: 640px) {
    .trend-content {
        padding: 30px 20px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .trend-content {
        padding: 35px 30px;
    }
}

@media (min-width: 1200px) {
    .trend-content {
        padding: 35px;
    }
}
.trend-category {
    margin-bottom: 15px;
}

.trend-category-item:nth-child(n+2) {
    margin-left: 20px;
}

.trend-category-link {
    font-family: opensans-bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
}

.trend-category-link:hover {
    border-bottom: 1px solid #b59f5b;
}

.trend-title {
    font-family: opensans-bold;
    line-height: 1.3;
    color: #ffffff;
    text-transform: uppercase;
}

@media (max-width: 640px) {
    .trend-title {
        font-size: 16px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .trend-title {
        font-size: 17px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) and (orientation: landscape) {
    .trend-title {
        font-size: 14px;
    }
    .trend-category-link {
        font-size: 12px;
    }
    .trend-content {
        padding: 35px 15px;
    }
}

@media (min-width: 1200px) {
    .trend-title {
        font-size: 20px;
    }
}
.trend-title:hover {
    color: #b59f5b;
}

.main-page {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

@media (max-width: 640px) {
    .main-page {
        flex-wrap: wrap;
        max-width: 360px;
        padding: 0 15px;
    }

    .main {
        max-width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .main-page {
        width: calc(100% - 420px);
        padding: 0 35px;
    }
    .main {
        margin-right: 15px;
    }
}

@media (min-width: 1200px) {
    .main-page {
        max-width: 1200px;
        padding: 0 15px;
    }
    .main {
        margin-right: 150px;
    }
}

.post {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

@media (max-width: 640px) {
    .post {
        flex-wrap: wrap;
        max-width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .post {
        flex-wrap: wrap;
        max-width: 100%;
    }
}

@media (min-width: 1200px) {
    .post {
        flex-wrap: nowrap;
        max-width: 100%;
    }
}

.post:nth-child(n + 2) {
    margin-top: 40px;
}

.post-preview {
    display: flex;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    z-index: 0;
}

.post-preview::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eff6f1;
    opacity: 1;
    z-index: -1;
}

.post-info {
    padding-bottom: 20px;
}

@media (max-width: 640px) {
    .post-info {
        margin-top: 15px;
        max-width: 100%;
        border-bottom: 3px solid #eeeeee;
    }
    .post-preview {
        width: 100%;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .post-info {
        margin-top: 15px;
        max-width: 100%;
        border-bottom: 3px solid #eeeeee;
    }
    .post-preview {
        width: 100%;
    }
}

@media (min-width: 1200px) {
    .post-info {
        margin-left: 30px;
    }
    .post-preview {
        max-width: 100%;
    }
}

.category {
    margin-bottom: 5px;
}

.category-item:nth-child(n+2) {
    margin-left: 20px;
}

.category-link {
    font-family: opensans-bold;
    font-size: 14px;
    color: #b59f5b;
    text-transform: uppercase;
    border-bottom: 1px solid #ffffff;
}

.category-link:hover {
    border-bottom: 1px solid #b59f5b;
}

.post-title {
    font-family: opensans-bold;
    color: #0f0d0e;
    text-transform: uppercase;
    line-height: 1.3;
}

@media (max-width: 640px) {
    .post-title {
        font-size: 16px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .post-title {
        font-size: 17px;
    }
}

@media (min-width: 1200px) {
    .post-title {
        font-size: 20px;
    }
}

.post-title:hover {
    color: #b59f5b;
}

.date-autor {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    font-family: opensans-bold;
    font-size: 12px;
    color: #888888;
    margin-top: 25px;
    margin-bottom: 45px;
}

.date {
    margin-right: 10px;
}

.autor {
    color: #000000;
}

.post-description {
    font-family: opensans-regular;
    color: #0f0d0e;
}

@media (max-width: 640px) {
    .post-description {
        font-size: 14px;
        line-height: 1.4;
    }

    .aside {
        width: 100%;
        margin-top: 45px;
    }

    .latest-posts-title {
        font-size: 16px;
    }
}

@media (min-width: 641px) {
    .post-description {
        font-size: 15px;
        line-height: 1.5;
    }

    .aside {
        width: 270px;
    }

    .latest-posts-title {
        font-size: 14px;
    }
}

.latest-posts-title {
    text-align: center;
    font-family: opensans-bold;
    color: #0f0d0e;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 35px;
}

.latest-posts-title::after {
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background: #b59f5b;
    left: 37.5%;
    width: 25%;
    height: 3px;
}

.latest-post {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 20px;
}

.latest-post-preview {
    display: flex;
    width: 70px;
    position: relative;
    z-index: 0;
}

.latest-post-preview::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #f4f7f6;
    opacity: 1;
    z-index: -1;
}

.latest-post-header {
    margin-left: 15px;
}

.date-latest-post {
    font-family: opensans-regular;
    font-size: 12px;
    color: #000000;
}

.latest-post-title {
    font-family: opensans-bold;
    font-size: 14px;
    line-height: 1.45;
    text-transform: uppercase;
    color: #000000;
}

.latest-post-title:hover {
    color: #b59f5b;
}

.search {
    margin-top: 65px;
    width: 100%;
}

.field-button {
    display: flex;
    flex-wrap: nowrap;
}

.field {
    font-family: opensans-regular;
    font-size: 13px;
    color: #000000;
    padding: 15px 20px;
    margin-right: 0;
    background-color: #f4f7f6;
    border: none;
}

.field:focus {
    outline: 1px solid #b59f5b;
}

.field-search {
    width: 100%;
}

.button-submit {
    font-family: opensans-bold;
    font-size: 14px;
    color: #ffffff;
    text-transform: uppercase;
    height: 48px;
    background-color: #b59f5b;
    border: none;
}

.button-submit:hover {
    cursor: pointer;
    background-color: #323232;
}

.button-submit-search {
    width: 60px;
    background-image: url("../svg/search.svg");
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: center center;
}

.subscribe {
    margin-top: 55px;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.field-email {
    width: 100%;
}

.button-submit-email {
    width: 100%;
    margin-top: 20px;
}

.tags {
    margin-top: 55px;
}

.latest-post-tags-link {
    display: flex;
    flex-wrap: wrap;
    font-family: opensans-bold;
    font-size: 12px;
    color: #0f0d0e;
    text-transform: uppercase;
    padding: 4px 14px;
    border: 2px solid #f4f3f1;
}

.latest-post-tags-link:hover {
    border: 2px solid #b59f5b;
}

.latest-post-tags-item {
    margin-top: 6px;
    margin-right: 3px;
}

.categories {
    width: 100%;
    margin-top: 60px;
}

.categories-list-item {
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 15px;
}

.categories-list-item:nth-child(n + 2) {
    padding-top: 15px;
}

a.categories-link {
    font-family: opensans-bold;
    font-size: 14px;
    color: #000000;
    margin-right: 5px;
}

a.categories-link:hover {
    color: #b59f5b;
}

.number-categories {
    font-family: opensans-bold;
    font-size: 12px;
    color: #b59f5b;
}

.shop {
    margin-top: 65px;
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 640px) {
    .shop {
        max-width: 330px;
        padding: 0 20px;
    }

    .title-products {
        font-size: 16px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .shop {
        max-width: 770px;
        padding: 0 15px;
    }

    .title-products {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .shop {
        max-width: 1170px;
        padding: 0 15px;
    }

    .title-products {
        font-size: 20px;
    }
}

.title-products {
    text-align: center;
    font-family: opensans-bold;
    color: #0f0d0e;
    text-transform: uppercase;
    margin-bottom: 45px;
    position: relative;
}

.title-products::after {
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background: #b59f5b;
    width: 65px;
    height: 3px;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

@media (max-width: 640px) {
    .product:nth-child(n + 2) {
        margin-top: 35px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .products {
        width: 650px;
    }

    .product {
        width: 45%;
    }

    .product:nth-child(n + 3) {
        margin-top: 50px;
    }
}

@media (min-width: 1200px) {
    .products {
        max-width: 1140px;
    }

    .product {
        width: 26.4%;
    }
}

.product {
    display: flex;
    flex-direction: column;
    flex: wrap;
}

.product-preview {
    width: 100%;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 0;
    display: block;
    position: relative;
    z-index: 0;
}

.product-preview::after {
    content: "";
    display: block;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #eff6f1;
    opacity: 1;
    z-index: -1;
}

.product-body {
    flex-grow: 1;
    outline: #b59f5b solid 3px;
    outline-offset: 20px;
    top: -10px;
    position: relative;
    z-index: 0;
}

.product-title {
    font-family: opensans-bold;
    color: #0f0d0e;
    text-transform: uppercase;
    padding-top: 25px;
}

@media (max-width: 1199px) {
    .product-title {
        font-size: 17px;
    }
}

@media (min-width: 1200px) {
    .product-title {
        font-size: 20px;
    }
}

.product-description {
    font-family: opensans-regular;
    font-size: 15px;
    line-height: 1.45;
    color: #0f0d0e;
    padding-top: 10px;
}

.footer-product {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 20px;
    padding-bottom: 10px;
}

.price-product {
    font-family: opensans-bold;
    color: #0f0d0e;
}

.old-price {
    display: flex;
    flex-wrap: nowrap;
    text-decoration: line-through;
    font-size: 14px;
}

.rub {
    margin-left: 5px;
}

.new-price {
    display: flex;
    flex-wrap: nowrap;
    font-size: 20px;
}

.item-link {
    color: #b59f5b;
    border-bottom: 1px solid #ffffff;
}

.item-link:hover {
    border-bottom: 1px solid #b59f5b;
}

.button-submit-shop {
    padding: 15px 25px;
}

.footer {
    max-width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 65px;
    padding-bottom: 40px;
}

.socials {
    width: 100%;
    margin-bottom: 70px;
}

.socials-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    width: 100%;
    padding: 30px 0;
    background-color: #f4f7f6;
}

.socials-list-item:nth-child(n + 2) {
    margin-left: 25px;
}

.social-icon {
    display: flex;
    width: 25px;
    height: 25px;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center center;
}

.social-icon-twitter {
    background-image: url("../svg/004-twitter.svg");
}

a.social-icon-pinterest {
    background-image: url("../svg/001-pinterest.svg");
}

a.social-icon-facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}

a.social-icon-instagramm {
    background-image: url("../svg/005-instagram.svg");
}

a.social-icon-tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.icon-visually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}

.copyrights {
    display: flex;
    justify-content: center;
    font-family: opensans-bold;
    font-size: 12px;
    color: #999999;
}

.popup-feedback {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.popup-feedback::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: 3;
}

.popup-container {
    position: relative;
    background-color: #ffffff;
    opacity: 1;
    z-index: 4;
    padding: 50px 30px;
}

@media (max-width: 640px) {
    .popup-container {
        width: 330px;
    }
}

@media (min-width: 641px) {
    .popup-container {
        width: 390px;
    }
}

.title-feedback {
    text-align: center;
    font-family: opensans-bold;
    color: #0f0d0e;
    text-transform: uppercase;
    margin-bottom: 10px;
    position: relative;
}

@media (max-width: 640px) {
    .title-feedback {
        font-size: 16px;
    }
}

@media (min-width: 641px) and (max-width: 1199px) {
    .title-feedback {
        font-size: 18px;
    }
}

@media (min-width: 1200px) {
    .title-feedback {
        font-size: 20px;
    }
}

.title-feedback::after {
    content: "";
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10px;
    background: #b59f5b;
    opacity: 0.4;
    width: 65px;
    height: 3px;
}

.form-feedback {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}

.form-group {
    display: flex;
    flex-wrap: wrap;
    padding-top: 30px;
}

.field-label {
    display: inline-block;
    font-family: opensans-regular;
    font-size: 13px;
    color: #000000;
    padding-bottom: 10px;
}

.select {
    width: 100%;
    background: #f4f7f6;
    padding: 20px;
    border: none;
    color: #000000;
    opacity: 0.54;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../svg/form-arrows.svg");
    background-size: 10px 20px;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.select:focus {
    outline: 1px solid #b59f5b;
}

.header-group {
    display: block;
    font-family: opensans-regular;
    font-size: 13px;
    color: #000000;
    padding-bottom: 10px;
}

.radiobox {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    height: 1px;
    width: 1px;
}

.radiobox-text {
    font-family: opensans-regular;
    font-size: 13px;
    color: #000000;
    padding-right: 15px;
}

.radiobox-text::before {
    display: inline-block;
    vertical-align: top;
    width: 18px;
    height: 18px;
    margin-right: 5px;
    content: "";
    background-image: url("../svg/form-empty-circle.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
}

.radiobox:checked ~ .radiobox-text::before {
    background-image: url("../svg/form-circle.svg");
}

.field-textarea {
    width: 100%;
    hieght: 130px;
    background: #f4f7f6;
    color: #000000;
    opacity: 0.54;
    padding: 20px;
    resize: none;
    border: none;
}

.field-textarea:focus {
    outline: 1px solid #b59f5b;
}

.button-send {
    width: 100%;
    margin-top: 30px;
}

.popup-close {
    width: 18px;
    height: 18px;
    font-size: 20px;
    text-indent: -9999px;
    background-color: transparent;
    cursor: pointer;
    position: absolute;
    top: -30px;
    right: 0;
    content: "";
    background-image: url("../svg/form-x.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 18px 18px;
    border: none;
}


